.App {
  text-align: center;
}

.blue {
  color: blue;
}
@font-face {
  font-family: indieFlower;
  src: url(IndieFlower-Regular.ttf)
}
h1 {
  font-family: indieFlower, Arial, Helvetica, sans-serif;
  color: lightcyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@font-face {
  font-family: marker;
  src: url(PermanentMarker-Regular.ttf)
}
h2 {
  font-family: marker, Arial, Helvetica, sans-serif;
  color: lightcyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@font-face {
  font-family: lobster;
  src: url(Lobster-Regular.ttf);
}
h3 {
  font-family: lobster, Arial, Helvetica, sans-serif;
  color: navy;
  font-size: 40px;
  text-shadow: 1px 2px 1px grey;
}
